In [215]:
import numpy as np
import pandas as pd
import pandas_profiling as pp

In [245]:
cal = pd.read_csv('calendar.csv')

In [246]:
cal.head()

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0
1,2011-01-30,11101,Sunday,2,1,2011,d_2,NaN,NaN,NaN,NaN,0,0,0
2,2011-01-31,11101,Monday,3,1,2011,d_3,NaN,NaN,NaN,NaN,0,0,0
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,NaN,1,1,0
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,NaN,1,0,1

In [210]:
#Список названий новой колонки
n_days_before_event = ['left_' + str(n) for n in range(1,8)]

In [247]:
#Делаем колоночки по дням и заполняем их ноликами
for n in n_days_before_event:
    cal[n] = 0

In [248]:
# Проверяем что пока сумма по колонке равна 0
cal.left_1.sum()

0

In [249]:
# Собираем индексы события - n чтобы потом по ним плюсовать дни до события в соотвествующей графе.
idx_1 = cal[(cal.event_name_1.notnull()) | (cal.event_name_2.notnull())].index - 1
idx_2 = cal[(cal.event_name_1.notnull()) | (cal.event_name_2.notnull())].index - 2
idx_3 = cal[(cal.event_name_1.notnull()) | (cal.event_name_2.notnull())].index - 3
idx_4 = cal[(cal.event_name_1.notnull()) | (cal.event_name_2.notnull())].index - 4
idx_5 = cal[(cal.event_name_1.notnull()) | (cal.event_name_2.notnull())].index - 5
idx_6 = cal[(cal.event_name_1.notnull()) | (cal.event_name_2.notnull())].index - 6
idx_7 = cal[(cal.event_name_1.notnull()) | (cal.event_name_2.notnull())].index - 7

In [250]:
cal.left_1[idx_1] = cal.left_1[idx_1] + 1
cal.left_2[idx_2] = cal.left_2[idx_2] + 1
cal.left_3[idx_3] = cal.left_3[idx_3] + 1
cal.left_4[idx_4] = cal.left_4[idx_4] + 1
cal.left_5[idx_5] = cal.left_5[idx_5] + 1
cal.left_6[idx_6] = cal.left_6[idx_6] + 1
cal.left_7[idx_7] = cal.left_7[idx_7] + 1

/home/roma/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/roma/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/roma/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/roma/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/home/roma/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/home/roma/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/roma/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [251]:
cal.left_1.sum()

162

In [252]:
cal.left_2.sum()

162

In [253]:
cal.left_3.sum()

162

In [254]:
cal.left_4.sum()

162

In [255]:
cal.left_5.sum()

162

In [256]:
cal.left_6.sum()

162

In [257]:
cal.left_7.sum()

162

In [258]:
cal

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,...,snap_CA,snap_TX,snap_WI,left_1,left_2,left_3,left_4,left_5,left_6,left_7
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1,2011-01-30,11101,Sunday,2,1,2011,d_2,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,1
2,2011-01-31,11101,Monday,3,1,2011,d_3,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,1,0
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,...,1,1,0,0,0,0,0,1,0,0
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,...,1,0,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1964,2016-06-15,11620,Wednesday,5,6,2016,d_1965,NaN,NaN,NaN,...,0,1,1,0,0,0,1,0,0,0
1965,2016-06-16,11620,Thursday,6,6,2016,d_1966,NaN,NaN,NaN,...,0,0,0,0,0,1,0,0,0,0
1966,2016-06-17,11620,Friday,7,6,2016,d_1967,NaN,NaN,NaN,...,0,0,0,0,1,0,0,0,0,0
1967,2016-06-18,11621,Saturday,1,6,2016,d_1968,NaN,NaN,NaN,...,0,0,0,1,0,0,0,0,0,0
1968,2016-06-19,11621,Sunday,2,6,2016,d_1969,NBAFinalsEnd,Sporting,Father's day,...,0,0,0,0,0,0,0,0,0,0