In [51]:
import numpy as np
import pandas as pd

In [52]:
cal = pd.read_csv('calendar.csv')

In [53]:
cal.head()

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0
1,2011-01-30,11101,Sunday,2,1,2011,d_2,NaN,NaN,NaN,NaN,0,0,0
2,2011-01-31,11101,Monday,3,1,2011,d_3,NaN,NaN,NaN,NaN,0,0,0
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,NaN,1,1,0
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,NaN,1,0,1

In [54]:
#Список названий новых колонок дней до события
n_days_before_event = ['left_' + str(n) for n in range(1,8)]

In [55]:
#Делаем колоночки по дням и заполняем их ноликами
for n in n_days_before_event:
    cal[n] = 0

In [56]:
# Проверяем что пока сумма по колонке равна 0
cal.left_1.sum()

0

In [75]:
idx = cal[(cal.event_name_1.notnull()) | (cal.event_name_2.notnull())].index

In [76]:
# Собираем индексы события - n чтобы потом по ним плюсовать дни до события в соотвествующей графе.
idx_1 = idx - 1
idx_2 = idx - 2
idx_3 = idx - 3
idx_4 = idx - 4
idx_5 = idx - 5
idx_6 = idx - 6
idx_7 = idx - 7

In [77]:
for i in idx_1:
    cal.loc[i,('left_1')] = cal.loc[i,('left_1')] + 1
cal.left_1.sum()

324

In [59]:
for i in idx_2:
    cal.loc[i,('left_2')] = cal.loc[i,('left_2')] + 1
    
cal.left_2.sum()

162

In [60]:
for i in idx_3:
     cal.loc[i,('left_3')] = cal.loc[i,('left_3')] + 1

cal.left_3.sum()

162

In [61]:
for i in idx_4:
    cal.loc[i,('left_4')] = cal.loc[i,('left_4')] + 1

cal.left_4.sum()

162

In [62]:
for i in idx_5:
    cal.loc[i,('left_5')]  = cal.loc[i,('left_5')] + 1
    
cal.left_5.sum()

162

In [63]:
for i in idx_6:
    cal.loc[i,('left_6')] = cal.loc[i,('left_6')] + 1

cal.left_6.sum()

162

In [64]:
for i in idx_1:
    cal.loc[i,('left_7')] = cal.loc[i,('left_7')] + 1
    
cal.left_7.sum()

162

In [78]:
cal

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,...,snap_CA,snap_TX,snap_WI,left_1,left_2,left_3,left_4,left_5,left_6,left_7
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1,2011-01-30,11101,Sunday,2,1,2011,d_2,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,2011-01-31,11101,Monday,3,1,2011,d_3,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,1,0
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,...,1,1,0,0,0,0,0,1,0,0
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,...,1,0,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1964,2016-06-15,11620,Wednesday,5,6,2016,d_1965,NaN,NaN,NaN,...,0,1,1,0,0,0,1,0,0,0
1965,2016-06-16,11620,Thursday,6,6,2016,d_1966,NaN,NaN,NaN,...,0,0,0,0,0,1,0,0,0,0
1966,2016-06-17,11620,Friday,7,6,2016,d_1967,NaN,NaN,NaN,...,0,0,0,0,1,0,0,0,0,0
1967,2016-06-18,11621,Saturday,1,6,2016,d_1968,NaN,NaN,NaN,...,0,0,0,2,0,0,0,0,0,1
1968,2016-06-19,11621,Sunday,2,6,2016,d_1969,NBAFinalsEnd,Sporting,Father's day,...,0,0,0,0,0,0,0,0,0,0

Вот что получается при пересечении нескольких праздников

In [70]:
cal.loc[set(idx_2).intersection(set(idx_4)),:]

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,...,snap_CA,snap_TX,snap_WI,left_1,left_2,left_3,left_4,left_5,left_6,left_7
385,2012-02-18,11204,Saturday,1,2,2012,d_386,NaN,NaN,NaN,...,0,0,0,0,1,0,1,0,0,0
1475,2015-02-12,11502,Thursday,6,2,2015,d_1476,NaN,NaN,NaN,...,0,1,1,0,1,0,1,0,1,0
1477,2015-02-14,11503,Saturday,1,2,2015,d_1478,ValentinesDay,Cultural,NaN,...,0,0,1,0,1,0,1,0,0,0
749,2013-02-16,11304,Saturday,1,2,2013,d_750,NaN,NaN,NaN,...,0,0,0,0,1,0,1,0,0,0
1841,2016-02-13,11603,Saturday,1,2,2016,d_1842,NaN,NaN,NaN,...,0,1,0,1,1,0,1,0,0,1
83,2011-04-22,11112,Friday,7,4,2011,d_84,NaN,NaN,NaN,...,0,0,0,0,1,0,1,0,0,0
790,2013-03-29,11309,Friday,7,3,2013,d_791,NaN,NaN,NaN,...,0,0,0,0,1,0,1,0,0,0
1175,2014-04-18,11411,Friday,7,4,2014,d_1176,NaN,NaN,NaN,...,0,0,0,0,1,0,1,0,0,0
1597,2015-06-14,11520,Sunday,2,6,2015,d_1598,NaN,NaN,NaN,...,0,0,1,0,1,0,1,0,0,0

In [74]:
cal.loc[1477:1485,:]

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,...,snap_CA,snap_TX,snap_WI,left_1,left_2,left_3,left_4,left_5,left_6,left_7
1477,2015-02-14,11503,Saturday,1,2,2015,d_1478,ValentinesDay,Cultural,NaN,...,0,0,1,0,1,0,1,0,0,0
1478,2015-02-15,11503,Sunday,2,2,2015,d_1479,NaN,NaN,NaN,...,0,1,1,1,0,1,0,0,0,1
1479,2015-02-16,11503,Monday,3,2,2015,d_1480,PresidentsDay,National,NaN,...,0,0,0,0,1,0,0,0,0,0
1480,2015-02-17,11503,Tuesday,4,2,2015,d_1481,NaN,NaN,NaN,...,0,0,0,1,0,0,0,0,0,1
1481,2015-02-18,11503,Wednesday,5,2,2015,d_1482,LentStart,Religious,NaN,...,0,0,0,0,0,0,0,0,0,0
1482,2015-02-19,11503,Thursday,6,2,2015,d_1483,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,1,0
1483,2015-02-20,11503,Friday,7,2,2015,d_1484,NaN,NaN,NaN,...,0,0,0,0,0,0,0,1,0,0
1484,2015-02-21,11504,Saturday,1,2,2015,d_1485,NaN,NaN,NaN,...,0,0,0,0,0,0,1,0,0,0
1485,2015-02-22,11504,Sunday,2,2,2015,d_1486,NaN,NaN,NaN,...,0,0,0,0,0,1,0,0,0,0

In [79]:
cal[(cal.event_name_1.notnull()) | (cal.event_name_2.notnull())]

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,...,snap_CA,snap_TX,snap_WI,left_1,left_2,left_3,left_4,left_5,left_6,left_7
8,2011-02-06,11102,Sunday,2,2,2011,d_9,SuperBowl,Sporting,NaN,...,1,1,1,0,0,0,0,0,0,0
16,2011-02-14,11103,Monday,3,2,2011,d_17,ValentinesDay,Cultural,NaN,...,0,0,1,0,0,0,0,0,0,0
23,2011-02-21,11104,Monday,3,2,2011,d_24,PresidentsDay,National,NaN,...,0,0,0,0,0,0,0,0,0,0
39,2011-03-09,11106,Wednesday,5,3,2011,d_40,LentStart,Religious,NaN,...,1,1,1,0,0,0,0,0,0,0
46,2011-03-16,11107,Wednesday,5,3,2011,d_47,LentWeek2,Religious,NaN,...,0,0,0,2,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1926,2016-05-08,11615,Sunday,2,5,2016,d_1927,Mother's day,Cultural,NaN,...,1,0,1,0,0,0,0,0,0,0
1948,2016-05-30,11618,Monday,3,5,2016,d_1949,MemorialDay,National,NaN,...,0,0,0,0,0,1,0,0,0,0
1951,2016-06-02,11618,Thursday,6,6,2016,d_1952,NBAFinalsStart,Sporting,NaN,...,1,0,1,0,0,0,0,1,0,0
1956,2016-06-07,11619,Tuesday,4,6,2016,d_1957,Ramadan starts,Religious,NaN,...,1,1,0,0,0,0,0,0,0,0
1968,2016-06-19,11621,Sunday,2,6,2016,d_1969,NBAFinalsEnd,Sporting,Father's day,...,0,0,0,0,0,0,0,0,0,0