<a href="https://colab.research.google.com/github/romanslipchuk/2020-03-25-M5-kaggle-challenge/blob/master/M5_forecasting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

Contains information about the dates the products are sold.  

* date: The date in a “y-m-d” format.<br/>  
* wm_yr_wk: The id of the week the date belongs to.
* weekday: The type of the day (Saturday, Sunday, …, Friday).
* wday: The id of the weekday, starting from Saturday.
* month: The month of the date.
* year: The year of the date.
* event_name_1: If the date includes an event, the name of this event.
* event_type_1: If the date includes an event, the type of this event.
* event_name_2: If the date includes a second event, the name of this event.
* event_type_2: If the date includes a second event, the type of this event.
* snap_CA, snap_TX, and snap_WI: A binary variable (0 or 1) indicating whether the stores of CA, TX or WI allow SNAP  purchases on the examined date. 1 indicates that SNAP purchases are allowed.

In [0]:
calendar = pd.read_csv('calendar.csv', sep = ',')
sell_prices = pd.read_csv('sell_prices.csv', sep = ',')
sales_train = pd.read_csv('sales_train_validation.csv', sep = ',')
calendar.head(5)

         date  wm_yr_wk    weekday  ...  snap_CA  snap_TX  snap_WI
0  2011-01-29     11101   Saturday  ...        0        0        0
1  2011-01-30     11101     Sunday  ...        0        0        0
2  2011-01-31     11101     Monday  ...        0        0        0
3  2011-02-01     11101    Tuesday  ...        1        1        0
4  2011-02-02     11101  Wednesday  ...        1        0        1

[5 rows x 14 columns]

In [0]:
print(calendar['event_type_1'].unique())
print(calendar['event_type_2'].unique())

[nan 'Sporting' 'Cultural' 'National' 'Religious']
[nan 'Cultural' 'Religious']

In [0]:
sell_prices.head(5)

  store_id        item_id  wm_yr_wk  sell_price
0     CA_1  HOBBIES_1_001     11325        9.58
1     CA_1  HOBBIES_1_001     11326        9.58
2     CA_1  HOBBIES_1_001     11327        8.26
3     CA_1  HOBBIES_1_001     11328        8.26
4     CA_1  HOBBIES_1_001     11329        8.26

In [0]:
print(sell_prices['item_id'].nunique())
print(sell_prices['store_id'].nunique())

3049
2

In [0]:
sales_train.head(5)

                              id        item_id  ... d_1912 d_1913
0  HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  ...    1.0    1.0
1  HOBBIES_1_002_CA_1_validation  HOBBIES_1_002  ...    0.0    0.0
2  HOBBIES_1_003_CA_1_validation  HOBBIES_1_003  ...    1.0    1.0
3  HOBBIES_1_004_CA_1_validation  HOBBIES_1_004  ...    7.0    2.0
4  HOBBIES_1_005_CA_1_validation  HOBBIES_1_005  ...    2.0    4.0

[5 rows x 1919 columns]

In [0]:
temp = list(sales_train.columns)

import datetime 
start_date = datetime.date(2011, 1,29)
day = datetime.timedelta(1)
for i in range(6, len(temp)) :
    temp[i] = start_date
    start_date = start_date + day
sales_train.columns = temp
sales_train.head(5)

                              id        item_id  ... 2016-04-23 2016-04-24
0  HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  ...        1.0        1.0
1  HOBBIES_1_002_CA_1_validation  HOBBIES_1_002  ...        0.0        0.0
2  HOBBIES_1_003_CA_1_validation  HOBBIES_1_003  ...        1.0        1.0
3  HOBBIES_1_004_CA_1_validation  HOBBIES_1_004  ...        7.0        2.0
4  HOBBIES_1_005_CA_1_validation  HOBBIES_1_005  ...        2.0        4.0

[5 rows x 1919 columns]

In [0]:
def ds1(item, shop):
    ''' Получаем на вход товар и магазин, отдает стандартный датасет  X, y, 
    где в качестве индекса будут даты, в качестве y будет продажи,
    а в качестве Х будут ивенты, цены, ???'''
    # поправка - пока отдаем только Y
    a=sales_train[(sales_train['item_id'] == item) & (sales_train['store_id']==shop)]
    y = a[a.columns[6:]].T
    #return X, y
    return y

In [0]:
# просто пробую сделать игрек для одной пары товар-магазин
t = ds1('HOBBIES_1_004', 'CA_1' )
t

              3
2011-01-29  0.0
2011-01-30  0.0
2011-01-31  0.0
2011-02-01  0.0
2011-02-02  0.0
...         ...
2016-04-20  0.0
2016-04-21  1.0
2016-04-22  3.0
2016-04-23  7.0
2016-04-24  2.0

[1913 rows x 1 columns]

In [0]:
'''1)для товара: цена и изменение цены(месяц, неделю, день) Наташа
2)Для даты: день недели, число, месяц, неделя месяца Алена
3)Для даты: число дней до ивента (по каждой категории) Рома'''